/* MOBILE */
#burger {
  position: absolute;
  top: 72px;
  right: 15px;
  height: 40px;
}

.filter-ui {
  background:#fff;
  position:absolute;
  top:151px;
  right:15px;
  z-index:100;
  padding:10px;
  border-radius:3px;
}

#welcome {
  display: none;
}

#map-leaflet {
  width: 100%;
  height: calc(100vh - 57px);
  font-family: "Lato";
  font-variant: caps;
}

.slogan {
  font-size: 30px;
  font-family: "Fugaz One";
}

#authorize {
  width: 100% !important;
  height: 350px !important;
  position: absolute;
  left: 50%;
  bottom: 0px;
  background-color: #f7f5f5;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 15px 15px 25px 15px;
  z-index: 10;
}

/* DESKTOP */
@media only screen and (min-width: 1000px)
{
  #burger {
    position: absolute;
    top: 4px;
    right: 15px;
    height: 40px;
  }

  .filter-ui {
    background:#fff;
    position:absolute;
    top:75px;
    right:15px;
    z-index:100;
    padding:10px;
    border-radius:3px;
  }

  #welcome {
    display: block;
  }

  #map-leaflet {
    width: 100%;
    height: calc(100vh - 65px);
    font-family: "Lato";
    font-variant: caps;
  }

  .slogan {
    font-size: 50px;
    font-family: "Fugaz One";
  }

  #authorize {
    width: 100% !important;
    height: 400px !important;
    position: absolute;
    left: 50%;
    bottom: 0px;
    background-color: #f7f5f5;
    transform: translate(-50%, 0);
    text-align: center;
    padding: 15px 15px 25px 15px;
    z-index: 10;
  }
}

nav {
  background-color: #5ecacd !important;
}

body { 
  margin:0; 
  padding:0; 
}
  
.brand-logo {
  font-family: "Fugaz One";
}

#welcome {
  position: absolute;
  top: 20px;
  left: 15px;
  color: white;  
  z-index: 100;
}

.checkbox-default[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #ef8233;
  background-color: #ef8233;
}

#SellItButton {
  position: absolute;
  background-color: #ef8233 !important;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 5%;
  font-family: "Fugaz One";
}

#floating-buttons {
  top: 13px;
}

#authorize-button {
  background-color: #5ecacd !important;
  font-family: "Fugaz One";
}

#burgerButton {
  background-color: #726363 !important;
}

#filterButton1 {
  background-color: #cebcbc !important;
}

#filterButton2 {
  background-color: #cebcbc !important;
}

#login-label {
  font-family: "Roboto";
  color: #726363;
}