body { 
  margin:0; 
  padding:0; 
}
  
.brand-logo {
  font-family: "Fugaz One";
}

#welcome {
  position: absolute;
  top: 20px;
  left: 15px;
  color: white;  
  z-index: 100;
}

#map-leaflet {
  width: 100%;
  height: calc(100vh - 65px);
  font-family: "Lato";
  font-variant: caps;
}

.login-box {
  position: absolute;
  bottom: 100px;
  background-color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 15px 15px 25px 15px;
}

.filter-ui-desktop {
  background:#fff;
  position:absolute;
  top:75px;
  right:15px;
  z-index:100;
  padding:10px;
  border-radius:3px;
}

.filter-ui-mobile {
  background:#fff;
  position:absolute;
  top:151px;
  right:15px;
  z-index:100;
  padding:10px;
  border-radius:3px;
}

.checkbox-default[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #42a5f5;
  background-color: #42a5f5;
}

#MarkItButton {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#burgerDesktop {
  position: absolute;
  top: 4px;
  right: 15px;
  height: 40px;
}

#burgerMobile {
  position: absolute;
  top: 80px;
  right: 15px;
  height: 40px;
}

#floating-buttons-desktop {
  top: 13px;
}

#floating-buttons-mobile {
  top: 13px;
}
